{% extends "base.html"%} {% block content %}
<h2>Editar estudiante</h2>
<form method="POST" action="/actualizar/{{ estudiante.id }}">
  <input type="hidden" name="id" value="{{ estudiante.id }}" />
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre</label>
    <input
      type="text"
      class="form-control"
      id="nombre"
      name="nombre"
      value="{{ estudiante.nombre }}"
      required
    />
  </div>
  <div class="mb-3">
    <label for="telefono" class="form-label">Telefono</label>
    <input
      type="text"
      class="form-control"
      id="telefono"
      name="telefono"
      value="{{ estudiante.telefono }}"
      required
    />
  </div>
  <div class="mb-3">
    <label for="fecha_nacimiento" class="form-label">Fecha Nacimiento</label>
    <input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento" value="{{ estudiante.fecha_nacimiento }}" required />
  </div>
  
  <button type="submit" class="btn btn-warning mt-3">Actualizar</button
</form>
{% endblock %}